@import "reset";
@import "variables/global";
@import "variables/typography";
@import "themes/normal";
@import "themes/dark";

html {
    height: 100%;
    font-size: var(--font-size-base);
}

body {
    font-family: var(--font-family-base);
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
    background: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
}



