@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
   --font-size-base: 14px;
   --border-radius: 12px;
   --font-family-base: "Montserrat", sans-serif;
}

