.errorPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-darker);
    .wrapper {
        text-align: center;
        h1 {
            color: var(--ligth-base);
            font-size: 8rem;
        }
        a {
            color: var(--ligth-base);
        }
    }

}
